body {
    background-color: #c6c6c6;
}
.button {
    color:#F5F5F5;
    Font-Family: Sans Serif, cursive;
    font-weight:bold;
    font-style:italic;
    background-color:#4551FF;
    font-size:25px;
    height: 58px;
    width: 186px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    box-shadow: 10px 16px 40px black
}

/* ===================================
BUBBLE WITH AN ISOCELES TRIANGLE
==================================== */

.triangle-isosceles {
    position:absolute;
    padding:15px;
    left: 53%;
    top: 40%;
    width: 200px;
    color:#000;
    background:#f3961c;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(#f9d835, #f3961c);
    background:-o-linear-gradient(#f9d835, #f3961c);
    background:linear-gradient(#f9d835, #f3961c);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    display: none;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-isosceles:after {
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}